@import '@angular/material/prebuilt-themes/indigo-pink.css';

.scroll-bar() {
    /* Apply to all scrollable elements */
    &::-webkit-scrollbar {
        width: 8px;              /* slim width */
        height: 8px;             /* slim height for horizontal scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: transparent;  /* no background */
        margin: 2px;              /* spacing at ends */
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(100, 100, 100, 0.2); /* semi-transparent */
        border-radius: 10px;                   /* rounded */
        transition: background 0.3s ease;      /* smooth hover effect */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(100, 100, 100, 0.5);
    }

    /* Optional: hide scrollbar corner */
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.mat-select-panel {
  background: #fff;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}/* You can add global styles to this file, and also import other style files */

/* styles.css */

.layout {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 240px 1fr auto;
    grid-template-areas:
        "topbar topbar topbar"
        "sidebar content edit";
    height: 100vh;
    background: white;

    &-preview {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "content";
    }
    
    &-dark {
        filter: invert(1);
    }
}

.topbar {
    grid-area: topbar;
    background-color: #fff;
    border-bottom: 1px solid #c8c8c8;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;

    h1 {
        font-size: 1cqw;
        text-transform: uppercase;
    }
}

.content {
    position: relative;
    grid-area: content;
    align-content: center;
    justify-items: center;
    background: #ccc;
    padding: 2rem;

    &-preview {
        background: none;
    }

    &-alert {
        position: absolute;
        top: 0;
        padding: .5rem 1rem;
        margin: 1rem 0 0 0;
        align-self: flex-start;
        color: rgb(150, 150, 150);
        border: 1px solid rgb(150, 150, 150);
        border-radius: 4px;
        font-size: .8rem;
        text-transform: uppercase;
    }

    &-edit {
        align-content: flex-start;
    }
}

.panel.edit-panel {
    grid-area: edit;
    width: 20rem;
}

// PANEL

.panel {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "form"
        "actions";
    width: auto;
    height: 100%;
    background: white;

    &.panel-right { border-left: 1px solid #c8c8c8; }
    &.panel-left  { border-right: 1px solid #c8c8c8; }

    &-header {
        grid-area: header;
        border-bottom: 1px solid rgb(200, 200, 200);
        display: flex;
        align-items: center;
        padding: 0 1rem;
        height: 2rem;
        font-size: .7rem;
        text-transform: uppercase;

        .title {
            font-weight: bold;
        }
    }

    &-content {
        grid-area: form;
        position: relative;

        &-body {
            position: absolute;
            inset: 0 0 0 0;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            overflow: auto;

            .scroll-bar();

            &--empty {
                width: calc(100% - 2rem - 4px);
                height: calc(100% - 2rem - 4px);
                border: 1px dotted #777;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                font-size: .7rem;
                text-align: center;
                color: #777;
                text-transform: uppercase;
                transition: all .15s ease;

                &:hover {
                    background: #ddd;
                }
            }
        }
    }

    &-actions {
        grid-area: actions;
        display: flex;
        flex-direction: column;
        padding: .5rem;
        gap: .5rem;
        background: rgb(200, 200, 200);
    }
}

// SIDEBAR

.sidebar-panel {
    grid-area: sidebar;
}

.menu-item {
    padding: 0.75rem;
    background: #fff;
    border: 2px dashed #eee;
    cursor: grab;
    user-select: none;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 0 0 .5rem 0;
    font-size: .7rem;

    ng-icon {
        position: relative;
        top: 2px;
        margin-right: .25rem;
        font-size: .8rem;
    }

    &:hover {
        border-style: dashed;
        border-color: black;
        transition: border .2s ease;
    }

    &.widget-list-item {
        cursor: pointer;

        &.selected {
            border: 2px dashed black;
        }
    }
}

.menu-item-button {
    padding: 0.75rem;
    background: #fff;
    user-select: none;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 0 0 .5rem 0;
    font-size: .7rem;

    ng-icon {
        position: relative;
        top: 2px;
        margin-right: .25rem;
        font-size: .8rem;
    }

    &-header {
        color: black;
        margin: 0;
        border-bottom: 1px solid #c8c8c8;
    }

    &:hover {
        color: white;
        background: #333;
    }
    
    &:active {
        cursor: pointer;
    }

    &.inactive {
        position: relative;
        opacity: .5;
        pointer-events: none;
    }
}

.widget-item:active {
    cursor: grabbing;
    background: #eaeaea;
}

.grid-structure {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    aspect-ratio: 6 / 3;

    &.grid-structure-macro {
        position: absolute;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 1fr);
        pointer-events: none;

        .cell {
            border: 2px solid #ececec;
        }
    }
}

// GRID

.grid {
    position: relative;
    width: 100%;
    max-width: 1300px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid #aaa;
    border-radius: 2px;

    &-preview {
        background: none;
        border: none;
        width: 100%;
    }
}

.cell {
    position: relative;
    border: 1px dashed #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    box-sizing: border-box;

    &.has-widget-preview {
        background: #efefef;
        border-color: #bbb;
        border-style: dashed;
    }

    &.has-grid-preview {
        opacity: 0;
    }
}

// GRID (WIDGETS LAYER)

.grid-widgets-wrapper {
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;

    &-preview {
        gap: .5rem;
    }

    &.on-dragging {
        opacity: .5;
        pointer-events: none;
    }

    .grid-widget {
        position: relative;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-areas: "title" "value" "icon";
        grid-gap: .5rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: .5rem;
        background-color: white;
        container-type: inline-size;
        border: 2px dashed rgb(204, 204, 204);

        &-selected, &:active, &:hover {
            border: 2px dashed black;
        }

        &:hover {
            border-radius: none;
            transition: border .2s ease;
        }

        &.cell {
            &:focus {
                outline: 2px solid black !important;
                outline-offset: 3px !important;
            }
        }

        &.cell-dark {
            border-style: solid !important;
            border-width: 3px !important;
            border-color: black !important;

            &:focus {
                outline: 2px dashed black !important;
                outline-offset: 3px !important;
            }
        }

        & > * {
            margin: 0;
        }

        &-has-preview {
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            
            &:hover {
                border: 1px solid #cccccc;
                transition: none;
            }
        }

        &.grid-widget-map {
            grid-template-rows: 3rem 1fr 3rem;
            grid-template-columns: 1fr;
        }

        &-title {
            grid-area: title;
            text-transform: uppercase;
            font-size: 1.2rem;

            &-dark {
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 1.5vw;
            }
        }

        &-value {
            grid-area: value;
            font-size: 30cqw;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .25rem;
            text-align: center;
            pointer-events: none;
            width: 100%;

            &-dark {
                font-size: 4.2vw;
            }

            &-suffix {
                font-size: 15cqw;
            }
        }

        &-icon {
            grid-area: icon;
            font-size: 1.4rem;
            line-height: 1rem;
        }
    }

    .frosty {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 30px rgba(39, 39, 39, 0.25);
    }
}

// GRID (UPLOADER LAYER)

.uploader-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 6 / 3;
    background: rgba(0, 0, 255, 0.5);
    border-radius: 12px;
    color: white;
}

/*# TILE LAYERS #*/

.monochromatic {
  filter: grayscale(100%);
}

/*# WIDGET DRAG HANDLE #*/
.drag-handle {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    cursor: grab;
    border: 2px solid transparent;

    &:active {
        cursor: grabbing;
    }
}

.delete-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: rgba(100, 100, 100, 0.05);

    &:hover {
        background: rgba(100, 100, 100, 0.2);
    }
}

.grid-widget-map-wrapper {
    width: 300px;
    height: 200px;
}

// Magnification styles
.magnification() {
    z-index: 10;
    transform-origin: center center;
    transform: scale(1.4);
    transition: .1s transform ease;
}

.magnified {
    .magnification();
}

// Accessibility

.accessibility {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    transform-origin: center center;
    transition: .1s all ease;
    border: 1px solid grey;

    &.accessibility-high-contrast {
        color: white;
        background: grey;
        border: 2px solid white;

        &:focus {
            transform-origin: center center;
            transform: scale(1.2);
            outline: 2px dashed white !important;
            outline-offset: 3px !important;
        }
    }
    
    &:hover {
        opacity: 1;
        transform: scale(1.2);
    }

    &:focus {
        transform-origin: center center;
        transform: scale(1.2);
        outline: 2px solid black !important;
        outline-offset: 3px !important;
    }
}