body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}/* You can add global styles to this file, and also import other style files */

/* styles.css */

.layout {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas:
        "topbar topbar"
        "sidebar content";
    height: 100vh;

    &-preview {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "content";
    }
    
}

.topbar {
    grid-area: topbar;
    background-color: #444;
    /* Dark gray */
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    background-color: #ccc;
    padding: 1rem;
    border-right: 1px solid #bbb;
    overflow: auto;

    .divider {
        margin-top: auto;
    }

    /* Apply to all scrollable elements */
    &::-webkit-scrollbar {
        width: 8px;              /* slim width */
        height: 8px;             /* slim height for horizontal scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: transparent;  /* no background */
        margin: 2px;              /* spacing at ends */
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(100, 100, 100, 0.2); /* semi-transparent */
        border-radius: 10px;                   /* rounded */
        transition: background 0.3s ease;      /* smooth hover effect */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(100, 100, 100, 0.5);
    }

    /* Optional: hide scrollbar corner */
    &::-webkit-scrollbar-corner {
        background: transparent;
    }

}

.content {
    position: relative;
    grid-area: content;
    align-content: center;
    background-color: #eee;
    /* Light gray */
    padding: 2rem;
    background-image:
        linear-gradient(to right, #fff 1px, transparent 1px),
        linear-gradient(to bottom, #fff 1px, transparent 1px);
    background-size: calc(40px - 0.5rem) calc(40px - 0.5rem);

    &-preview {
        background: none;
    }
}

// SIDEBAR

.menu-item {
    padding: 0.75rem;
    background: #fff;
    border: 1px solid #aaa;
    transition: all .2s;
    cursor: grab;
    user-select: none;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 0 0 .5rem 0;
    font-size: .7rem;

    ng-icon {
        position: relative;
        top: 2px;
        margin-right: .25rem;
        font-size: .8rem;
    }

    &:hover {
        background: #ddd;
        font-weight: bold;
    }

    &-button {
        border: none;
        cursor: pointer;
        text-align: center;

        &-header {
            color: black;
            margin: 0;
        }

        &:hover {
            background: #333;
            color: white;
        }
        
        &:active {
            cursor: pointer;
        }
    }
}

.widget-item:active {
    cursor: grabbing;
    background: #eaeaea;
}

// GRID

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: .5rem;
    width: 100%;
    aspect-ratio: 6 / 3;
}

.cell {
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    box-sizing: border-box;

    &.has-widget-preview {
        background: rgba(200, 200, 200, 0.8);
    }

    &.has-grid-preview {
        opacity: 0;
    }
}

.frosty {
    background: rgba(211, 192, 192, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(136, 106, 106, 0.1);
}

// GRID (WIDGETS LAYER)

.grid-widgets-wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    gap: .5rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 6 / 3;

    .grid-widget {
        position: relative;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-areas: "title" "value" "icon";
        grid-gap: .5rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding: .5rem;

        & > * {
            margin: 0;
        }

        &-has-preview {
            box-shadow: none !important;
        }

        &.grid-widget-map {
            grid-template-rows: 3rem 1fr 3rem;
            grid-template-columns: 1fr;

            .grid-widget-map-wrapper {
                width: 100%;
                height: 100%;
            }
        }

        &-title {
            grid-area: title;
            text-transform: uppercase;
            font-size: 0.8rem;
        }

        &-value {
            grid-area: value;
            font-size: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .25rem;
            text-align: center;
            pointer-events: none;

            &-suffix {
                font-size: .8rem;
            }
        }

        &-icon {
            grid-area: icon;
            font-size: 1.3rem;
            line-height: 1rem;
        }
    }

    .frosty {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 30px rgba(39, 39, 39, 0.25);
    }
}

// GRID (UPLOADER LAYER)

.uploader-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 6 / 3;
    background: rgba(0, 0, 255, 0.5);
    border-radius: 12px;
    color: white;
}

/*# TILE LAYERS #*/

.monochromatic {
  filter: grayscale(100%);
}

/*# WIDGET DRAG HANDLE #*/
.drag-handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 12px 0 12px 0;
    cursor: grab;
    background: rgba(100, 100, 100, 0.1);
    border: 2px solid white;

    &:hover {
        background: rgba(100, 100, 100, 0.2);
    }

    &:active {
        cursor: grabbing;
    }

    &::after {
        
        --dot-size: 3px;
        --gap: 6px;
        --v-gap: 6px;
        --dot-color: rgba(0,0,0,0.5);
        
        content: "";                 
        display: block;
        width: var(--dot-size, 4px);
        height: var(--dot-size, 4px);
        border-radius: 50%;
        background: var(--dot-color, #999);
        
        box-shadow:
            calc(var(--gap, 8px)) 0 0 0 var(--dot-color, #999),
            calc(var(--gap, 2) * -1) 0 0 0 var(--dot-color, #999),
            0 calc(var(--v-gap, 8px)) 0 0 var(--dot-color, #999),
            calc(var(--gap, 8px)) calc(var(--v-gap, 8px)) 0 0 var(--dot-color, #999),
            calc(var(--gap, 8px) * -1) calc(var(--v-gap, 8px)) 0 0 var(--dot-color, #999);

        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}