# silvester files
/angular/node_modules
/angular/package-lock.json

# node files
/node/node_modules
/node/package-lock.json
# weather files
/node/weather/node_modules
/node/weather/package-lock.json


# misc
*/.vscode*
scrapbook.txt