version: "3.8"

services:
  mongo:
    image: mongo:4.4
    command: --nojournal
    container_name: mongo-db
    ports:
      - "27017:27017"
    networks:
      - fiware
    volumes:
      - mongo-data:/data/db

  orion:
    image: fiware/orion:3.8.1
    container_name: silvester-orion
    depends_on:
      - mongo
    ports:
      - "1026:1026"
    command: ["-dbhost", "mongo-db"]
    networks:
      - fiware
    environment:
      - ORION_LOG_LEVEL=INFO

  node:
    image: silvinodemedeiros/silvester-node:latest
    # build:
    #   context: ./node
    #   dockerfile: Dockerfile
    container_name: silvester-node
    ports:
      - "3000:3000"
    networks:
      - fiware
    depends_on:
      - orion
    environment:
      - ORION_URL=http://orion:1026
      - MONGO_URL=mongodb://mongo-db:27017

  angular:
    image: silvinodemedeiros/silvester-angular:latest
    # build:
    #   context: ./angular
    #   dockerfile: Dockerfile
    container_name: silvester-angular
    ports:
      - "80:4200"
    networks:
      - fiware
    depends_on:
      - orion

volumes:
  mongo-data:

networks:
  fiware:
    driver: bridge
