
<div
  [ngClass]="{
    'layout': true,
    'layout-preview': gridPreview
  }"
  (dragover)="onDragOver($event, -1, -1)"
  (drop)="onDrop($event, -1, -1)"
>
    <header
      *ngIf="!gridPreview"
      class="topbar"
    >
      <div class="menu-item menu-item-button menu-item-button-header" (click)="gridPreview = !gridPreview">
        <ng-icon name="bootstrapEye"></ng-icon>
        Preview
      </div>
      <div class="menu-item menu-item-button menu-item-button-header" (click)="gridPreview = !gridPreview">
        <ng-icon name="bootstrapMoonStarsFill"></ng-icon>
        Dark Mode
      </div>
      <div class="menu-item menu-item-button menu-item-button-header" (click)="gridPreview = !gridPreview">
        <ng-icon name="bootstrapEyeglasses"></ng-icon>
        High Contrast
      </div>
    </header>

    <!-- SIDEBAR -->
    <aside
      *ngIf="!gridPreview"
      class="sidebar"
    >
      @for (menuItem of menuItems(); track menuItem.item.id) {
        <div
          class="menu-item"
          draggable="true"
          (dragstart)="onDragStart($event, menuItem)"
        >
          <ng-icon [name]="menuItem.data.metadata?.icon?.value"></ng-icon>
          {{ menuItem.item.label }}
        </div>
      }
      <div class="divider"></div>
      <div
        class="menu-item menu-item-button"
        (click)="exportGrid()"
      >
        Export Grid
      </div>
      <div
        class="menu-item menu-item-button"
        (click)="importGrid()"
      >
        Import Grid
      </div>
    </aside>

    <!--# GRID #-->
    <main
      [ngClass]="{
        'content': true,
        'content-preview': gridPreview
      }"
      role="main"
    >
      <div class="grid">

        <!--# CELLS LAYER #-->
        <div
          *ngFor="let cell of cells"
          [ngClass]="{
            'cell': true,
            'frosty': true,
            'has-widget-preview': previewWidget && hasPreview(cell.row, cell.col),
            'has-grid-preview': gridPreview
          }"
          (dragover)="onDragOver($event, cell.row, cell.col)"
          (dragleave)="onDragLeave()"
          (drop)="onDrop($event, cell.row, cell.col)"
        ></div>

        <!--# WIDGETS LAYER #-->
        <div class="grid-widgets-wrapper" *ngIf="!isDragging">
          <ng-container
            *ngFor="let gridWidget of gridWidgets()"
          >
            <div
              class="grid-widget cell frosty monochromatic"
              [ngClass]="{
                'grid-widget-map': gridWidget.data.type == 'Location',
                'grid-widget-has-preview': gridPreview
              }"
              [ngStyle]="{
                'grid-area': (gridWidget.row + 1) + '/' + (gridWidget.col + 1) + '/ span ' + gridWidget.item.height + '/ span ' + gridWidget.item.width
              }"
              (dragstart)="onDragStart($event, gridWidget, true)"
              [tabIndex]="1"
            >
            
              <p class="grid-widget-title">
                {{ gridWidget.data.metadata?.title?.value }}
              </p>

              <!-- # WIDGET DIFFERENTIATION # -->
              @if (gridWidget.data.type == 'Location') {
                <app-map-widget
                  [ngClass]="'grid-widget-map-wrapper'"
                  [data]="gridWidget"
                  [has-preview]="gridPreview"
                ></app-map-widget>
              } @else {
                <span class="grid-widget-value">
                  {{ gridWidget | widgetValue }}
                  <span class="grid-widget-value-suffix">
                    {{ gridWidget.data.metadata?.measures?.value | widgetSuffix }}
                  </span>
                </span>
              }

              <p class="grid-widget-icon">
                <ng-icon [name]="gridWidget.data.metadata?.icon?.value"></ng-icon>
              </p>
              
              <div
                *ngIf="!gridPreview"
                [ngClass]="{
                  'drag-handle': true
                }"
                (mousedown)="handleOnMouseDown($event)"
                (mouseup)="handleOnMouseUp($event)"
              >
              </div>
            </div>
          </ng-container>
        </div>

        <!--# UPLOADER LAYER #-->
        <div
          *ngIf="isDraggingFile"
          class="uploader-wrapper"
          (dragover)="onUploadDragOver()"
          (dragleave)="onUploadDragLeave()"
          (drop)="onUploadDrop($event)"
        >
          <h1>Drop your JSON file here</h1>
        </div>
      </div>
    </main>
</div>

