
<div
  [ngClass]="{
    'layout': true,
    'layout-preview': previewMode_(),
    'layout-dark': darkMode_()
  }"
  (dragover)="onDragOver($event, -1, -1)"
>
    <header
      *ngIf="!previewMode_()"
      class="topbar"
    >

      <h1>Silvester</h1>
      
      <div style="margin-left: auto;"></div>

      <div
        role="button"
        class="menu-item-button menu-item-button-header"
        (click)="togglePreview()"
        [ngClass]="{'inactive': isDraggingFile || gridWidgets().length === 0}"
      >
        <ng-icon name="bootstrapEyeFill"></ng-icon>
        Preview
      </div>

      <div
        role="button"
        class="menu-item-button menu-item-button-header"
        (click)="importJson()"
      >
        <ng-icon name="bootstrapArrowDownLeft"></ng-icon>
        Import
      </div>

      @if (gridWidgets().length > 0) {
        <div
          role="button"
          class="menu-item-button menu-item-button-header"
          (click)="toggleExport()"
          [title]="'Share Dashboard'"
        >
          <ng-icon name="bootstrapArrowUpRight"></ng-icon>
          Export
        </div>
      }
    </header>

    <!-- SIDEBAR -->
    <aside
      *ngIf="!previewMode_()"
      class="sidebar-panel panel panel-left"
    >

      <div class="panel-header">
        <span class="title">Entities</span>
      </div>

      <div class="panel-content">

        <div class="panel-content-body">
            @for (menuItem of menuItems(); track menuItem.item.id) {
              <div
                class="menu-item"
                draggable="true"
                (dragstart)="onDragStart($event, menuItem)"
              >
                <ng-icon [name]="menuItem.data.metadata?.icon?.value"></ng-icon>
                {{ menuItem.item.label }}
              </div>
            }

            @empty {
              <div class="panel-content-body--empty">
                Populate entities on Orion Context Broker to see them here.
              </div>
            }
        </div>
      </div>
      
    </aside>

    <!--# GRID #-->
    <main
      [ngClass]="{
        'content': true,
        'content-preview': previewMode_()
      }"
      role="main"
      (drop)="onDrop($event, -1, -1)"
    >
      <div [ngClass]="{
        'grid': true,
        'grid-structure': true,
        'grid-preview': previewMode_()
      }">

      
        <!--# MACRO CELLS LAYER #-->
        <div class="grid-structure grid-structure-macro">
          <ng-container *ngIf="!previewMode_()">
            <ng-container *ngFor="let cell of macroCells">
              <div
                [ngClass]="{
                  'cell': true,
                }"
              ></div>
            </ng-container>
          </ng-container>
        </div>
      
        <!--# CELLS LAYER #-->
        <ng-container *ngIf="!previewMode_()">
          <ng-container *ngFor="let cell of cells">
            <div
              [ngClass]="{
                'cell': true,
                'has-widget-preview': previewWidget && hasPreview(cell.row, cell.col),
                'has-grid-preview': previewMode_()
              }"
              (dragover)="onDragOver($event, cell.row, cell.col)"
              (dragleave)="onDragLeave()"
              (drop)="onDrop($event, cell.row, cell.col)"
            ></div>
          </ng-container>
        </ng-container>

        <!--# WIDGETS LAYER #-->
        <div [ngClass]="{
          'grid-structure': true,
          'grid-widgets-wrapper': true,
          'grid-widgets-wrapper-preview': previewMode_(),
          'on-dragging': isDragging
        }">
          <div
            *ngFor="let gridWidget of gridWidgets()"
            #widgetElement
            [ngClass]="{
              'grid-widget': true,
              'cell': true,
              'cell-dark': darkMode_(),
              'monochromatic': true,
              'grid-widget-map': gridWidget.data.type == 'Location',
              'grid-widget-has-preview': previewMode_()
            }"
            [ngStyle]="{
              'grid-area': (gridWidget.row + 1) + '/' + (gridWidget.col + 1) + '/ span ' + gridWidget.item.height + '/ span ' + gridWidget.item.width
            }"
            (dragstart)="onDragStart($event, gridWidget, true, widgetElement)"
            [tabIndex]="previewMode_() ? 0 : -1"
            (focus)="onWidgetFocus($event)"
            (blur)="onWidgetBlur($event)"
          >
          
          <!-- # WIDGET TITLE # -->
            <p
              [ngClass]="{
                'grid-widget-title': true,
                'grid-widget-title-dark': darkMode_()
              }"
            >
              {{ gridWidget.data.metadata?.title?.value }}
            </p>

            <!-- # WIDGET VALUE # -->
            @if (gridWidget.data.type == 'location') {
              <app-map-widget
                [data]="gridWidget"
                [has-preview]="previewMode_()"
              ></app-map-widget>
            } @else {
              <span
                [ngClass]="{
                  'grid-widget-value': true,
                  'grid-widget-value-dark': darkMode_()
                }"
              >
                {{ gridWidget | widgetValue }}
                <span class="grid-widget-value-suffix">
                  {{ gridWidget.data.metadata?.measures?.value | widgetSuffix }}
                </span>
              </span>
            }

            <!-- # WIDGET ICON # -->
            <p class="grid-widget-icon">
              <ng-icon [name]="gridWidget.data.metadata?.icon?.value"></ng-icon>
            </p>
            
            <div
              *ngIf="!previewMode_()"
              [ngClass]="{
                'grid-widget-handle': true,
                'drag-handle': true
              }"
              (mousedown)="handleOnMouseDown($event)"
              (mouseup)="handleOnMouseUp($event)"
              [title]="'Click to drag widget'"
            >
              <ng-icon [name]="'bootstrapArrowsMove'"></ng-icon>
            </div>
            
            <div
              *ngIf="!previewMode_()"
              [ngClass]="{
                'grid-widget-handle': true,
                'delete-handle': true
              }"
              (mousedown)="removeWidget(gridWidget)"
              [title]="'Click to remove widget'"
            >
              <ng-icon
                [name]="'bootstrapTrash'"
              ></ng-icon>
            </div>
          </div>
        </div>

        <!--# UPLOADER LAYER #-->
        <div
          *ngIf="isDraggingFile"
          class="uploader-wrapper"
          (dragover)="onUploadDragOver($event)"
          (dragleave)="onUploadDragLeave()"
          (drop)="onUploadDrop($event)"
        >
          
          <ng-icon class="i-icon" name="bootstrapXCircle" (mousedown)="closeImportJson()"></ng-icon>
          <h1>Drop your JSON file here</h1>
        </div>
      </div>

      

      @if (export_()) {

        <div class="export-panel panel panel-right">

          <div class="panel-header">
            <span class="title">Export This Dashboard</span>
            <ng-icon class="i-icon" name="bootstrapXCircle" (mousedown)="closeExport()"></ng-icon>
          </div>

          <div class="panel-content">
            
            <div class="panel-content-body" [formGroup]="exportForm">
              
              <!-- <mat-form-field appearance="outline">
                <mat-label>Dashboard Title</mat-label>
                <input matInput #titleFormField formControlName="title"/>
              </mat-form-field> -->

              <div class="export-modes">
                <div class="export-modes-item">
                    <ng-icon name="tablerBrandHtml5"></ng-icon>
                    <h3>Export to Web Prototype</h3>
                    <p>Exports dashboard to a functional web project contained in a single <i>index.html</i> file.</p>
                    <div
                      class="menu-item-button menu-item-button-header"
                      (click)="exportHtml()">Download <i>html</i> File</div>
                </div>
                <div class="export-modes-item">
                    <ng-icon name="lucideFileJson"></ng-icon>
                    <h3>Export to JSON</h3>
                    <p>Export grid structure to a JSON file that can be imported later into the grid.</p>
                    <div
                      class="menu-item-button menu-item-button-header"
                      (click)="exportJson()">Download <i>JSON</i> File</div>
                </div>
              </div>
            
              <!-- <div class="menu-item-button menu-item-button-header" (click)="exportHtml()">
                <ng-icon name="bootstrapDownload"></ng-icon>
                Export Dashboard
              </div> -->
            </div>
          </div>
        </div>
      }
    </main>
</div>

<div
  *ngIf="previewMode_()"
  id="dark-mode-toggle"
  [ngClass]="{
    'accessibility': true,
    'accessibility-high-contrast': darkMode_()
  }"
  (click)="toggleDarkMode()"
  [tabIndex]="0"
>
  <ng-icon name="bootstrapMoonStars"></ng-icon>
</div>

<ng-icon 
  *ngIf="previewMode_()" [title]="'Close Preview'" name="bootstrapXCircle" class="i-icon close-preview-icon" (click)="closePreview()"></ng-icon>