
<div
  class="layout"
  (dragover)="onDragOver($event, -1, -1)"
  (drop)="onDrop($event, -1, -1)"
>
    <header class="topbar" role="banner" tabindex="0">
      Silvester
      
    </header>

    <!-- SIDEBAR -->
    <aside class="sidebar" role="complementary" tabindex="0">
      @for (menuWidget of menuWidgets(); track menuWidget.item.id) {
        <div
          class="widget-item"
          draggable="true"
          (dragstart)="onDragStart($event, menuWidget)"
        >
          <ng-icon [name]="menuWidget.data.metadata?.icon?.value"></ng-icon>
          {{ menuWidget.item.label }}
        </div>
      }
      <div class="divider"></div>
      <div
        class="widget-item widget-item-button"
        (click)="exportGrid()"
      >
        Export Grid
      </div>
      <div
        class="widget-item widget-item-button"
        (click)="importGrid()"
      >
        Import Grid
      </div>
    </aside>

    <!-- GRID -->
    <main class="content" role="main" tabindex="0">
      <div class="grid">
        <div
          *ngFor="let cell of cells"
          class="cell frosty"
          [ngClass]="{
            'cell': true,
            'frosty': true,
            'has-preview': previewWidget && hasPreview(cell.row, cell.col)
          }"
          (dragover)="onDragOver($event, cell.row, cell.col)"
          (dragleave)="onDragLeave()"
          (drop)="onDrop($event, cell.row, cell.col)"
        ></div>

        <!-- WIDGETS LAYER -->
        <div class="grid-widgets-wrapper" *ngIf="!isDragging">
          <div
            *ngFor="let gridWidget of gridWidgets"
            class="grid-widget cell frosty"
            [ngStyle]="{
              'grid-area': (gridWidget.row + 1) + '/' + (gridWidget.col + 1) + '/ span ' + gridWidget.item.width + '/ span ' + gridWidget.item.height
            }"
            draggable="true"
            (dragstart)="onDragStart($event, gridWidget, true)"
          >
            <p class="grid-widget-title">
              {{ gridWidget.data.metadata.title?.value }}
            </p>
            <span class="grid-widget-value">
              {{ gridWidget | widgetValue }}
              <span class="grid-widget-value-suffix">
                {{ gridWidget.data.metadata.measures?.value | widgetSuffix }}
              </span>
            </span>
            <p class="grid-widget-icon">
              <ng-icon [name]="gridWidget.data.metadata.icon.value"></ng-icon>
            </p>
          </div>
        </div>

        <!-- UPLOADER LAYER -->
        <div
          *ngIf="isDraggingFile"
          class="uploader-wrapper"
          (dragover)="onUploadDragOver()"
          (dragleave)="onUploadDragLeave()"
          (drop)="onUploadDrop($event)"
        >
          <h1>Drop your JSON file here</h1>
        </div>
      </div>
    </main>
</div>

